<app-top-bar titulo="Lançameto"></app-top-bar>

<div class="form">
    <form #form [formGroup]="group" (ngSubmit)="salvar(); form.reset();" autocomplete="off">

        <div class="chips-container">
            <label class="chips-label">Selecione a Conta Corrente</label>
            <mat-chip-list #chipList selectable formControlName="conta">
                <mat-chip #c="matChip" (click)="setConta(c)" *ngFor="let conta of contas" [value]="conta.id">
                    {{conta.descricao}}
                </mat-chip>
            </mat-chip-list>
        </div>

        <div class="chips-container">
            <label class="chips-label">Selecione a Categoria</label>
            <mat-chip-list #chipList multiple formControlName="categoria">
                <mat-chip #c="matChip" (click)="setCategoria(c)" *ngFor="let categoria of categorias"
                    [value]="categoria.id">
                    {{categoria.descricao}}
                </mat-chip>
            </mat-chip-list>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="descricao" minlength="3">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Valor</mat-label>
            <mat-chip-list #chipList aria-label="Valor" formControlName="tipo">
                <mat-chip #c="matChip" (click)="setTipo(c)" *ngFor="let tipo of tipos" [value]="tipo.value">
                    {{tipo.label}}
                </mat-chip>
                <input type="tel" currencyMask formControlName="valor" placeholder="Digite o valor"
                    [matChipInputFor]="chipList">
            </mat-chip-list>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Repetir</mat-label>
            <input matInput type="number" formControlName="repetir">
            <span matSuffix style="display: flex ;">
                <button mat-icon-button (click)="remove()" type="button">
                    <mat-icon>remove</mat-icon>
                </button>
                <button mat-icon-button (click)="add()" type="button">
                    <mat-icon>add</mat-icon>
                </button>
            </span>
        </mat-form-field>

        <div class="w3-display-container" style="height: 40px;">
            <div class="w3-display-left">
                <button mat-raised-button color="primary" type="submit" [disabled]="group?.invalid">Salvar</button>
            </div>
            <div class="w3-display-right">
                <button *ngIf="lancamento != undefined" mat-stroked-button type="button"
                    (click)="apagar()">Apagar</button>
            </div>
        </div>

    </form>
</div>