<app-top-bar titulo="Lançameto"></app-top-bar>

<div class="form">
    <form #form [formGroup]="group" (ngSubmit)="salvar(); form.reset();" autocomplete="off">

        <div class="chips-container">
            <label class="chips-label">Selecione a Conta Corrente</label>
            <mat-chip-list #chipList selectable formControlName="conta">
                <mat-chip #c="matChip" (click)="setConta(c)" *ngFor="let conta of contas" [value]="conta">
                    {{conta.conta}}
                </mat-chip>
            </mat-chip-list>
        </div>

        <div class="chips-container">
            <label class="chips-label">Selecione a Categoria</label>
            <mat-chip-list #chipList multiple formControlName="categoria">
                <mat-chip #c="matChip" (click)="setCategoria(c)" *ngFor="let categoria of categorias" [selected]="contaSelected"
                    [value]="categoria">
                    {{categoria.categoria}}
                </mat-chip>
            </mat-chip-list>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="descricao" minlength="3">
            <mat-error>Obrigatório</mat-error>
        </mat-form-field>

        <div class="w3-row">
            <div class="w3-col s9">
                <mat-form-field appearance="fill">
                    <mat-label>Valor</mat-label>
                    <input currencyMask matInput formControlName="valor">
                    <mat-error>Obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="w3-col s3">
                <c-chips [list]="tipoLancamento" class="small" (selectedEvent)="setTipoLancamento($event)"></c-chips>
            </div>
        </div>

        <button mat-raised-button color="primary" type="submit" [disabled]="group?.invalid">Salvar</button>
    </form>
</div>