<div *ngIf="this.anos.size > 0">
    <form #form [formGroup]="group" autocomplete="off">
        <div class="banner" style="padding-top: 20px;">
            <label class="chips-label">Selecione a planilha</label>
            <select name="anos" (change)="getMeses()" class="selectPlanilha" formControlName="ano">
                <option *ngFor="let ano of anos | keyvalue" [value]="ano.key">{{ano.key}}</option>
            </select>
            <select name="meses" class="selectPlanilha" formControlName="mes" (change)="setMesSelecionado()">
                <option *ngFor="let mes of meses" [value]="mes">{{mes}}</option>
            </select>
        </div>
    </form>
</div>