<app-top-bar titulo="Lançameto"></app-top-bar>

<div class="form">
    <form [formGroup]="group" (ngSubmit)="salvar()">

        <mat-chip-list aria-label="Selecione a Conta">
            <mat-chip (click)="setConta(conta)" *ngFor="let conta of contas">{{conta.conta}}</mat-chip>
        </mat-chip-list>


        <mat-chip-list aria-label="Selecione a Categoria">
            <mat-chip *ngFor="let categoria of categorias">{{categoria.categoria}}</mat-chip>
        </mat-chip-list>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Descrição">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Valor">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Salvar</button>
    </form>
</div>

<div class="form-button">
</div>