<app-top-bar titulo="Lançameto"></app-top-bar>

<div class="form">

    <mat-form-field>
        <mat-select placeholder="Conta" >
            <mat-option value="Débito Santander">Débito Santander</mat-option>
            <mat-option value="Crédito Santander">Crédito Santander</mat-option>
            <mat-option value="Carteira">Carteira</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Categoria">
            <mat-option value="">Alexandre</mat-option>
            <mat-option value="">Alimentação</mat-option>
            <mat-option value="">Almoço</mat-option>
            <mat-option value="">Carro</mat-option>
            <mat-option value="">Diversão</mat-option>
            <mat-option value="">Educação</mat-option>
            <mat-option value="">Saúde</mat-option>
            <mat-option value="">Outros</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Data">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Descrição">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Valor">
    </mat-form-field>


</div>
<div class="form-button">
    <button mat-raised-button color="primary" (click)=salvar()>Salvar</button>
</div>