<div class="content">
    <table>
        <tr>
            <td> <a href="/lancamento">
                    <app-botao-menu label="Lançamento" icon="attach_money"></app-botao-menu>
                </a>
            </td>
            <td><a href="/lancamento">
                    <app-botao-menu label="Alimentação" icon="fastfood"></app-botao-menu>
                </a>
            </td>
        </tr>
        <tr>
            <td> <a href="/configuracao">
                    <app-botao-menu label="Contas e Categorias" icon="ballot"></app-botao-menu>
                </a>
            </td>
            <td><a href="/lancamento">
                    <app-botao-menu label="Alimentação" icon="fastfood"></app-botao-menu>
                </a>
            </td>
        </tr>

        <tr>
            <td><a href="/lancamento">
                    <app-botao-menu label="Pessoal" icon="insert_emoticon"></app-botao-menu>
                </a></td>
            <td><a href="/lancamento">
                    <app-botao-menu label="Almoço" icon="restaurant"></app-botao-menu>
                </a></td>
        </tr>
    </table>
</div>