<div class="content">
    <table>
        <tr>
            <td> <a href="/#/lancamento">
                    <app-botao-menu label="Lançamento" icon="monetization_on"></app-botao-menu>
                </a>
            </td>
            <td><a href="/#/extrato">
                    <app-botao-menu label="Extrato" icon="list"></app-botao-menu>
                </a></td>
        </tr>
        <td><a href="/#/saldos">
                <app-botao-menu label="Saldos" icon="data_usage"></app-botao-menu>
            </a></td>
        <tr>
        </tr>
        <tr>
            <td> <a href="/#/conta">
                    <app-botao-menu label="Conta" icon="credit_card"></app-botao-menu>
                </a>
            </td>
            <td> <a href="/#/categoria">
                    <app-botao-menu label="Categoria" icon="category"></app-botao-menu>
                </a>
            </td>

        </tr>
    </table>

</div>