<div class="content">
    <table>
        <tr>
            <td> <a href="/#/conta">
                    <app-botao-menu label="Conta" icon="attach_money"></app-botao-menu>
                </a>
            </td>
            <td> <a href="/#/categoria">
                    <app-botao-menu label="Categoria" icon="attach_money"></app-botao-menu>
                </a>
            </td>
        </tr>
        <tr>
            <td> <a href="/#/lancamento">
                    <app-botao-menu label="Lançamento" icon="attach_money"></app-botao-menu>
                </a>
            </td>
            <td><a href="/#/lista-lancamento">
                    <app-botao-menu label="Extrato" icon="list"></app-botao-menu>
                </a></td>
        </tr>
        <tr>
            <td><a href="/#/saldos">
                    <app-botao-menu label="Saldos" icon="data_usage"></app-botao-menu>
                </a></td>
        </tr>
    </table>

</div>