.container {
    margin: 10px;
    padding: 10px;
}

.banner {
    height: 80px;
    width: 100%;
    background-color: rgb(221, 221, 221);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    a {
        display: flex;
        vertical-align: middle;
        flex-direction: row;
        align-content: center;
        align-items: center;
        font-size: 20px;
        text-decoration: none;
    }
    span {
        margin-left: 20px;
    }
}

.botton {
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 3px;
}

.icon {
    color: white;
    font-size: 45px;
    position: relative;
    top: 11%;
    left: 11%;
}
