.link-label {
    font-size: 11.5px;
    color: #615f5f;
    display: block;
}

.resumido {
    padding-top: 20px;
    margin-bottom: 20px;
}

.navegador {
    display: flex;
    span {
        padding-top: 2px;
    }
}