<div *ngIf="planilhasAno" class="select-container">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <app-link-planilha></app-link-planilha>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="content-panel">
                <div *ngFor="let ano of planilhasAno">
                    <table>
                        <tr>
                            <td style="vertical-align: top;">
                                <div class="col-ano">
                                    <label>{{ano.ano}}</label>
                                    <mat-icon>chevron_right</mat-icon>
                                </div>
                            </td>
                            <td style="width: 100%;">
                                <div class="w3-row">
                                    <span class="w3-col s4 col-mes" *ngFor="let mes of ano.planilhas">
                                        {{mes.descricao}}
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <mat-divider></mat-divider>
                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>