.select-container {
    margin: 10px;
}

.content-panel {
    background-color: white;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
}

.col-ano {
    display: flex;

    label {
        padding-top: 3px;
    }
}

.col-mes {
    background-color: red;
}