<app-top-bar titulo="Carga C6"></app-top-bar>

<div class="form">
    <form #form [formGroup]="group" (ngSubmit)="enviar(); form.reset();" autocomplete="off">

        <div class="chips-container">
            <label class="chips-label">Selecione a Conta Corrente</label>
        </div>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Carga da fatura C6</mat-label>
            <textarea formControlName="linhas" rows="25" matInput placeholder="Cole aqui as linhas da fatura do banco C6"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="group?.invalid">Enviar</button>
    </form>
</div>