<div class="card">
    <form [formGroup]="group" (ngSubmit)="addCategoria()">
        <mat-form-field class="example-form-field">
            <mat-label>Adicionar nova categoria</mat-label>
            <input matInput type="text" formControlName="categoria">
            <mat-error>Informe a categoria</mat-error>
            <button mat-button matSuffix mat-icon-button type="submit" [disabled]="group.invalid" style="margin-right: 2px;">
                <mat-icon style="font-size: 24px !important;">add</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <div *ngFor="let item of categorias" style="height: 30px;">
        <span>
            {{item.categoria}}
        </span>
        <span style="float: right;">
            <mat-icon (click)="delete(item)" style="font-size: 22px !important;">close</mat-icon>
        </span>
    </div>
</div>