.botao {
    background-color: black;
    width: 90px;
    height: 90px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: white;
}

.botao-icon {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
}

.material-icons {
    font-size: 48px !important;
}

.botao-text {
    line-height: 1;
}